<section class="section clients is-medium is-white has-text-centered has-border-top">
    <div class="container is-narrow">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile">
                    I'm proud to have collaborated with some awesome companies:
                </h1>
            </div>
        </div>
        <div class="client-grid">
            <div class="columns is-multiline is-mobile">
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/briteweb.svg" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/goodkind.svg" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/redstamp.svg" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/domain7.svg" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/designlab.png" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/chronicled.svg" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/bldrs.png" />
                    </figure>
                </div>
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <figure class="image is-2x1">
                        <img class="client-logo" src="../img/logos/serpmetrics.svg" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>